.game-wrapper {
  width: 544px;
  height: 576px;
  margin: 50px auto 0;
  padding: 0 16px 32px;
  background: #76a222;
  box-sizing: border-box;
}

.game-field {
  position: relative;
  width: 512px;
  height: 512px;
  margin: 0 auto;
  background: url(../images/bg.jpg) no-repeat;
}

.score-panel {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
}
.game-score {
  background: url(../images/food.png) no-repeat;
  background-position: left 32px center;
  background-size: 32px;
  display: inline-block;
  width: 100px;
}

.game-top-score {
  background: url(../images/zoo.png) no-repeat;
  background-position: left 32px center;
  background-size: 32px;
  display: inline-block;
  width: 100px;
}

.snake-cell {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #9f7267;
  margin: 1px 0 0 1px;
  border-radius: 50%;
  z-index: 2;
}

.snake-cell:last-child {
  width: 32px;
  height: 32px;
  margin: 0;
  background: url(../images/zoo.png) no-repeat;
  background-size: cover;
}

.snake-food {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url(../images/food.png) no-repeat;
  background-size: cover;
  z-index: 1;
}
